#ssc-clip-preview-wrapper {
    display: grid;
    place-items: center;
    padding: 24px;
    background: var(--ssc-bg);
    border-radius: 8px;
}

#ssc-clip-preview {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    transition: all 0.3s ease;
}
