#ssc-filter-preview-bg {
    background-size: cover;
    border-radius: 12px;
    padding: 24px;
    display: grid;
    place-items: center;
}

#ssc-filter-preview-box {
    transition: all 0.2s ease-in-out;
    width: 80%;
    height: 250px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    border-radius: 16px;
}

.ssc-glassmorphism-preview {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
